.parent {
    -fx-background-color: #ededed;
}

.sidebar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.sidebar-btn {
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
    -fx-text-alignment: left;
    -fx-font-size: 16px;
    -fx-content-display: left;
    -fx-alignment: center;
    -fx-effect: none;
}

.sidebar-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.sidebar-btn:hover {
    -fx-background-color: #f0f0f0;
}

.prisoner-table {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.prisoner-title-table {
    -fx-font-size: 16px;
    -fx-border-color: transparent transparent #ededed transparent;
}

.prisoner-card {
    -fx-background-color: #ffffff;
}

.prisoner-card:hover {
    -fx-background-color: #f0f0f0;
}

.danger {
    -fx-background-color: #ff0000;
    -fx-text-fill: #ffffff;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}

.safe {
    -fx-background-color: #00ff00;
    -fx-text-fill: #ffffff;
    -fx-padding: 5px 10px;
    -fx-background-radius: 5px;
}

.table-scroll {
    -fx-border-color: transparent transparent transparent transparent;
}

.btn-primary {
    -fx-background-color: #3e3bff;
    -fx-text-fill: #ffffff;
    -fx-font-size: 16px;
    -fx-background-radius: 5px;
    -fx-padding: 5px 10px;
}

.center {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-content-display: center;
}

.form {
    -fx-margin: 20px 0 0 0;
    -fx-spacing: 5px;
}
.form-label {
    -fx-font-size: 18px;
    -fx-text-fill: #000000;
}

.form-control {
    -fx-background-color: #cccccc;
    -fx-border-color: transparent;
    -fx-background-radius: 8px;
    -fx-font-size: 18px;
    -fx-padding: 12px 22px;
}

.form-btn {
    -fx-padding: 10px 0;
    -fx-margin: 20px 0 0 0;
    -fx-background-radius: 8px;
}

.transparent-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #3e3bff;
    -fx-font-size: 16px;
}

.forgot-btn {
    -fx-padding: 7px 0px 20px;
}

.register-text {
    -fx-padding: 10px 0px 0px;
}
